<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">

<title>ETH Live Chart</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body class="bg-dark text-light">

<div class="container mt-4">

<h2 class="text-warning">

ETH Live Price Chart

</h2>

<canvas id="chart"></canvas>
<br><br>
<a href="/price" class="btn btn-primary">← Back</a>
<a href="/history" class="btn btn-secondary">History</a>
<a href="/trade-check" class="btn btn-warning">Signal</a>
<a href="/trades" class="btn btn-danger">Trades</a>

</div>

<script>

const ctx=document.getElementById("chart");

const chart=new Chart(ctx,{

type:"line",

data:{

labels:[],

datasets:[{

label:"ETH",

data:[],

borderWidth:3,

fill:false

}]

},

options:{

responsive:true,

animation:false

}

});

function loadChart(){

fetch("/chart-data")

.then(r=>r.json())

.then(data=>{

chart.data.labels=data.labels;

chart.data.datasets[0].data=data.prices;

chart.update();

});

}

loadChart();

setInterval(loadChart,5000);

</script>

</body>

</html>
