<!DOCTYPE html>

<html>

<head>

<title>
Content
</title>


<style>

body {

    font-family: Arial;

}


table {

    border-collapse: collapse;

    width: 90%;

}


th, td {

    border:1px solid #ccc;

    padding:10px;

}


</style>


</head>


<body>



<h1>
Content
</h1>



<hr>



<table>


<tr>

<th>
No
</th>


<th>
Title
</th>


<th>
Attachment
</th>


<th>
Views
</th>


<th>
Date
</th>


</tr>




{% for row in rows %}



<tr>


<td>

{{row.id}}

</td>



<td>


<a href="/content/{{row.id}}">

{{row.title}}

</a>


</td>




<td>


{% if row.file_name %}


📎 {{row.file_name}}


{% else %}


-

{% endif %}



</td>




<td>

{{row.views}}

</td>




<td>

{{row.created_at}}

</td>



</tr>



{% endfor %}




</table>




</body>

</html>
