<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>
Toward Victory
</title>


<style>

body{

font-family:Georgia,serif;

padding:40px;

background:#ffffff;

}


.poem{

max-width:700px;

margin:auto;

font-size:20px;

line-height:2;

}



h1{

text-align:center;

}


.author{

text-align:right;

font-style:italic;

}



</style>


</head>


<body>


<div class="poem">


<h1>
Toward Victory
</h1>


<div class="author">

Written by Tae-Wan Kim

</div>



<p>

Youth who can see the highest place in life,

<br>

Youth full of the greatest strength,

</p>



<p>

The cries you shouted from the valley

<br>

are now returning as an echo.

</p>



<p>

Go, young spirit.

</p>



<p>

Even if rain and wind become fierce

<br>

will you let your will be broken?

</p>



<p>

Go, young spirit.

</p>



<p>

On your path,

<br>

even the thorn trees are your companions.

</p>



<p>

Know when to avoid,

<br>

know how to endure.

</p>



<p>

Go, young spirit.

</p>



<p>

God has said:

<br>

Your passion will never be meaningless.

</p>



<p>

God has given you:

<br>

Strong legs to walk forward,

<br>

and mountains that you can climb.

</p>



<p>

Never abandon the will of God.

</p>



</div>


</body>


</html>
