<!DOCTYPE html>
<html lang="en">

<head>
<script>

const langData={


en:{


close:"Close",


history:"Price History",


signal:"Auto Trading Signal",


trades:"Trading Records",


whitepaper:"Whitepaper",


poem:"Toward Victory",


mission:"Our Mission"

},



ko:{


close:"닫기",


history:"가격 기록",


signal:"자동 거래 신호",


trades:"거래 기록",


whitepaper:"백서",


poem:"승리를 향하여",


mission:"우리의 사명"

}


};



function changeLang(){


let l=document.getElementById("language").value;



document.querySelectorAll("[data-en]").forEach(e=>{


e.innerHTML=e.getAttribute("data-"+l);


});


}



function closePopup(){


window.open('','_self');

window.close();


}



</script>
<meta charset="UTF-8">

<title>ETH Price</title>

<style>

body{

background:#f5f7fa;

font-family:Arial;

text-align:center;

}


.box{

width:600px;

margin:50px auto;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 0 20px #aaa;

}


select{

padding:8px;

cursor:pointer;

}


button{

margin-top:30px;

padding:12px 40px;

background:#0066cc;

color:white;

border:0;

border-radius:10px;

cursor:pointer;

}


</style>


<script>


function langChange(){


let l=document.getElementById("lang").value;


if(l=="ko"){


title.innerHTML="ETH 가격";


desc.innerHTML="현재 ETH 가격";


close.innerHTML="닫기";


}

else{


title.innerHTML="ETH Price";


desc.innerHTML="Current ETH Price";


close.innerHTML="Close";


}


}



</script>


</head>


<body>



<div class="box">



<div style="text-align:right">

Language :


<select id="lang" onchange="langChange()">



<option value="en">

English

</option>


<option value="ko">

한국어

</option>



</select>



</div>





<h1 id="title">

ETH Price

</h1>




<h2 id="desc">

Current ETH Price

</h2>



<h2>

{{ price }}

</h2>






<button onclick="closeOnly()">
Close
</button>


<script>

function closeOnly(){

window.open('','_self');

window.close();

}

</script>




</div>


</body>


</html>
