<!DOCTYPE html>

<html>


<head>

<meta charset="UTF-8">

<title>

ETH Price

</title>


<style>


body{

text-align:center;

font-family:Arial;

padding:50px;

}


</style>


<script>


function changeLang(){


let l=document.getElementById("lang").value;


if(l=="ko"){


document.getElementById("title").innerHTML=
"ETH 가격";


}


}


</script>


</head>


<body>


Language :

<select id="lang"
onchange="changeLang()">



<option selected value="en">

English

</option>



<option value="ko">

한국어

</option>



</select>




<h1 id="title">

ETH Price

</h1>


<h2>

{{price}} USD

</h2>



<button onclick="window.close()">

Close

</button>



</body>


</html>
