<!DOCTYPE html>

<html>

<head>

<title>ETH Price</title>


<style>

body{

font-family:Segoe UI;

padding:40px;

text-align:center;

}


button{

background:#0066cc;

color:white;

padding:15px 30px;

border:0;

border-radius:10px;

cursor:pointer;

}


</style>


</head>


<body>


<h1>

ETH Price

</h1>


<p>

Live ETH price from Coinbase API

</p>



<a href="/price" target="_blank">

<button>

View ETH Price

</button>

</a>



<br><br>


<button onclick="window.close()">

Close

</button>


</body>

</html>
