<!DOCTYPE html>

<html>

<head>


<meta charset="UTF-8">


<title>

Automatic Trading System

</title>



<style>


body{

font-family:Arial;

background:#f4f6f8;

padding:40px;

}



.box{

background:white;

width:650px;

margin:auto;

padding:40px;

border-radius:20px;

box-shadow:0 5px 20px #aaa;

}



.item{

background:#0066cc;

color:white;

padding:15px;

margin:15px;

border-radius:10px;

text-align:center;

cursor:pointer;

}



.item:hover{

background:#003d80;

}



.language{

text-align:right;

}


</style>



<script>


function popup(url){

window.open(

url,

"popup",

"width=750,height=550"

);

}


function changeLang(){


let l=document.getElementById("lang").value;


if(l=="ko"){


document.getElementById("title").innerHTML=
"자동매매 시스템";


document.getElementById("a").innerHTML=
"ETH 가격";


document.getElementById("b").innerHTML=
"ETH 가격 저장";


document.getElementById("c").innerHTML=
"가격 기록";


document.getElementById("d").innerHTML=
"자동매매 신호";


document.getElementById("e").innerHTML=
"거래 기록";


}


}



</script>


</head>


<body>



<div class="box">


<div class="language">

Language :

<select id="lang"
onchange="changeLang()">


<option selected value="en">

English

</option>


<option value="ko">

한국어

</option>


</select>


</div>



<h1 id="title">

Automatic Trading System

</h1>




<div class="item"

onclick="popup('/price-page')"

id="a">

ETH Price

</div>



<div class="item"

onclick="popup('/save-price-page')"

id="b">

Save ETH Price

</div>



<div class="item"

onclick="popup('/history-page')"

id="c">

Price History

</div>



<div class="item"

onclick="popup('/trade-check-page')"

id="d">

Auto Trading Signal

</div>



<div class="item"

onclick="popup('/trades-page')"

id="e">

Trading Records

</div>



</div>


</body>


</html>
