<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">


<title>Trading Records</title>


<style>


body{

background:#f5f7fa;

font-family:Arial;

text-align:center;

}


.box{

width:700px;

margin:40px auto;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 0 20px #aaa;

}


button{

padding:12px 40px;

background:#0066cc;

color:white;

border:0;

border-radius:10px;

cursor:pointer;

}


</style>


</head>


<body>



<div class="box">



Language :

<select>


<option>

English

</option>


<option>

한국어

</option>


</select>





<h1>

Trading Records

</h1>



<div>

{{ trades }}

</div>



<br>


<button onclick="closePopup()">
Close
</button>


<script>

function closePopup(){

    window.open('','_self');

    window.close();

}

</script>

Close

</button>


</div>


</body>


</html>
