<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">


<title>Trading Records</title>


<script src="/static/language.js"></script>


<style>


body{

font-family:Arial;

background:#f5f5f5;

text-align:center;

}



.box{

width:650px;

margin:50px auto;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 0 20px #aaa;

}


</style>


</head>



<body>


<div class="box">


<select id="language"

onchange="changeLanguage()">



<option value="en">

English

</option>


<option value="ko">

한국어

</option>


</select>





<h1 data-lang="trades">

Trading Records

</h1>





{% for t in trades %}


<p>

{{t}}

</p>


{% endfor %}





<button onclick="closePopup()">
Close
</button>


<script>

function closePopup(){

    self.close();

}

</script>



</div>


</body>


</html>
