<title>
W-donation Auto Trading
</title>


<style>

body{

font-family:Arial;

padding:30px;

}


a{

display:block;

padding:15px;

margin:15px;

background:#0066cc;

color:white;

text-decoration:none;

border-radius:8px;

}


</style>


<script>


function popup(url){


window.open(

url,

"API",

"width=600,height=400"

);


}



</script>


</head>



<body>


<h1>
Auto Trading System
</h1>



<a onclick="popup('/price')">

ETH Price

</a>


<a onclick="popup('/save-price')">

Save Price

</a>



<a onclick="popup('/history')">

Price History

</a>



<a onclick="popup('/trade-check')">

Auto Trading Signal

</a>



<a onclick="popup('/trades')">

Trading Records

</a>



</body>

</html>
